@{
    ViewData["Title"] = "Bem-vindo à Minha Locadora";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-vindo à Minha Locadora de Carros!</h1>
    <p class="lead">Gerencie sua frota de veículos de forma rápida, fácil e prática.</p>

    <a class="btn btn-success btn-lg mt-4" asp-controller="Carros" asp-action="Index">Ver Carros Cadastrados</a>
</div>
